<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output Config</title>
</head>
<body>
    <h2>Output</h2>
    <div>
        <pre>{{ results[0] }}</pre>
    </div>
    <div>
        <pre>{{ results[1] }}</pre>
    </div>


    <div>
        <h3>Config IP</h3>
        <a href="/config_ip">Config Ip</a>
    </div>

    <div>
        <h3>Change Hostname</h3>
        <a href="/Hostname">Change Hostname</a>
    </div>


</body>
</html>